body{
    background-color: aquamarine;
    width: 950px;
    margin:auto;
}
header, section, nav, table, footer{
    font-family: monospace;
    font-size: 10px;
    border-radius: 10px;
   
    text-align: center;
    margin-right: 150px;
}
header{
    background-color: blanchedalmond;
    min-height: 100px;
    min-width: 950px;
}

aside{
    display: inline-block;
    background-color: antiquewhite;
    height: 500px;
    width: 150px;
    margin-top: 700px;
    margin-left: 796px;
    margin-right: 0px;
    margin-top: 0px;
    z-index: 1;
}
#lateral{
    width: 150px;
}